body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}

.leo-joy{
    color: orange;
}
.section-1{
    display: flex;
    
}
.div-1{
    width: 50%;
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 100px;
    text-align: justify;    
}
.div-1 img{
    width: 90%;
}
.container{
    display: flex;
    margin-bottom: 150px;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.ex{
    margin-left: 2%;
}
.container-1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    padding: 5px 10px;
    box-shadow: 10px 10px 40px gray;
}
#border-1{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#border-2{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
.footer{
    text-align: center;
}
.marquee{
    background-color: green;
}